* {
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}

button:focus {
    outline:0;
}

body {
    background-color: black;
}
#textbox {
    border: none;
    width: calc(100vw - 30px);
    height: calc(20vh - 30px);
    transform: translate(15px, 15px);
}

#console {
    background-color: black;
    width: 100vw;
    height: 20vh;
    position: fixed;
    transform: translate(0, 80vh);
}

#mainButtonsDiv {
    position:fixed;
    min-width: 320px;
    background-color: black;
    width: 100vw;
    height: 40px;
}

.mainButtons {
    background-color: black;
    border: none;
    border-radius: 0%;
    color: white;
    font-size: 20px;
    width: 80px;
    height: 40px;
    float: left;
}

.mainButtons:hover {
    background-color: white;
    color: black;
}
#buttonPanel {
    position: fixed;
    height: calc(80vh - 40px);
    width: 160px;
    min-width: 160px;
    transform: translate(0, 40px);
    background-color: lightgrey;
}

#buttonPanelTitle {
    height: 60px;
    width: 160px;
    background-color: lightgrey;
    color: black;
    border: none;
    border-left: 16px solid lightgrey;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.boxButtons {
    background-color: lightgrey;
    border: none;
    border-radius: 0%;
    border-left: 16px solid lightgrey;
    color: black;
    font-size: 20px;
    width: 160px;
    height: 40px;
    text-align: left;
}

.boxButtons:hover {
    background-color: black;
    color: white;
    border-left: 16px solid black;
}

#codeArea {
    background-color:white;
    position: fixed;
    width: calc(100vw - 160px);
    height: calc(80vh - 40px);
    transform: translate(160px, 40px);
    overflow-y: hidden;
    overflow-x: hidden;
}

#scrollElement {
    width: 100%;
    height: 100%;
}

.s_code {
    border:none;
    width: 144px;
    height: 44px;
    background-color: #90EE90; /*GREEN*/
}

.s_box {
    position: absolute;
    height: 44px;
    width: 144px;
    border: 8px solid #3CB371;
}

.c_code {
    border: none;
    width: 74.793px; /* 84√2 - 44 */
    height: 44px;
    transform: rotate(-45deg) translate(-10.887px, 17.198px); /* 42 - 22√2, 21√2 - 12.5 */
    background-color: #FAFAD2; /*YELLOW*/
    /*transform: rotate(-45deg);*/
    /*transform-origin: 90% 30%;*/
}

.c_box {
    position: absolute;
    background-color: #FAFAD2; /*YELLOW*/
    height: 84px;
    width: 84px;
    border: 8px solid #F5DEB3;
    transform: rotate(45deg);
}

.f_code { 
    border:none;
    width: 128px;
    height: 44px;
    transform: skew(20deg) translate(8px, 0px);
    background-color: #F08080; /*RED*/
    /*-webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
    */
}

.f_box {
    position: absolute;
    background-color: #F08080; /*RED*/
    height: 44px;
    width: 144px;
    border: 8px solid #8B0000;
    transform: skew(-20deg);
    /*-webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
    */
}

.i_code {
    border:none;
    width: 110.309px; /* 80√2 */
    height: 42.426px; /* 30√2 */
    transform: translate(23.431px, 8.787px); /* 80 - 40√2, 30 - 15√2 */
    background-color: #00BFFF;
}

.i_box {
    position: absolute;
    border-radius: 50%;
    background-color: #00BFFF;
    border: 8px solid #4682B4; /*BLUE*/
    height: 60px;
    width: 160px;
}

.connector_line {
    position: absolute;
    stroke: black;
    stroke-width: 2px;
}

.connector_receiver {
    position: absolute;
    left: calc(50% - 8px);
    top: -16px;
    height: 12px;
    width: 12px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.connector_primary {
    position: absolute;
    left: calc(50% - 8px);
    top: 100%;
    height: 12px;
    width: 12px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.connector_secondary {
    position: absolute;
    left: calc(100% - 2.343px); /* 8 - 8/√2 */
    top: -13.567px; /* 8 + 8/√2 */
    height: 12px;
    width: 12px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

