* {
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}

button:focus {
    outline:0;
}

body {
    background-color: black;
}
#textbox {
    border: none;
    width: calc(100vw - 30px);
    height: calc(20vh - 30px);
    transform: translate(15px, 15px);
}

#console {
    background-color: black;
    width: 100vw;
    height: 20vh;
    position: fixed;
    transform: translate(0, 80vh);
}

#mainButtonsDiv {
    position:fixed;
    min-width: 320px;
    background-color: black;
    width: 100vw;
    height: 40px;
}

.mainButtons {
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    width: 80px;
    height: 40px;
    float: left;
}

.mainButtons:hover {
    background-color: white;
    color: black;
}
#buttonPanel {
    position: fixed;
    height: calc(80vh - 40px);
    width: 160px;
    min-width: 160px;
    transform: translate(0, 40px);
    background-color: lightgrey;
}

#buttonPanelTitle {
    height: 60px;
    width: 160px;
    background-color: lightgrey;
    color: black;
    border: none;
    border-left: 16px solid lightgrey;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.boxButtons {
    background-color: lightgrey;
    border: none;
    border-left: 16px solid lightgrey;
    color: black;
    font-size: 20px;
    width: 160px;
    height: 40px;
    text-align: left;
}

.boxButtons:hover {
    background-color: black;
    color: white;
    border-left: 16px solid black;
}

#codeArea {
    background-color:white;
    position: fixed;
    width: calc(100vw - 160px);
    height: calc(80vh - 40px);
    transform: translate(160px, 40px);
    overflow-y: hidden;
    overflow-x: hidden;
}

#scrollElement {
    width: 100%;
    height: 100%;
}

.s_code {
    border:none;
    width: 144px;
    height: 44px;
    transform: translate(8px, 8px);
    background-color: #90EE90;
}

.s_box {
    position: absolute;
    background-color: black;
    height: 60px;
    width: 160px;
}

.c_code {
    border:none;
    width: 144px;
    height: 44px;
    transform: translate(8px, 8px);
    background-color: #FAFAD2;
}

.c_box {
    position: absolute;
    background-color: black;
    height: 60px;
    width: 160px;
}

.f_code {
    border:none;
    width: 144px;
    height: 44px;
    transform: translate(8px, 8px);
    background-color: #F08080;
}

.f_box {
    position: absolute;
    background-color: black;
    height: 60px;
    width: 160px;
}

.i_code {
    border:none;
    width: 144px;
    height: 44px;
    transform: translate(8px, 8px);
    background-color: #00BFFF;
}

.i_box {
    position: absolute;
    background-color: black;
    height: 60px;
    width: 160px;
}